Buildroot: ${build_dir}
Name: ${package_name}
Version: ${version}
Summary: ${summary}
License: ${license}
Group: Applications/Productivity
Packager: ${maintainer}
% if dependencies:
Requires: ${dependencies}
% endif
% if obsoletes:
Obsoletes: ${obsoletes}
% endif
% if conflicts:
Conflicts: ${conflicts}
% endif
% if provides:
Provides: ${provides}
% endif
% if predepends:
Requires(pre): ${predepends}
% endif
AutoReqProv: no

%%define _rpmdir ${output_dir}
% if release:
%%define _rpmfilename ${package_name}_${version}-${release}.${architecture}.rpm
Release: ${release}
% else:
%%define _rpmfilename ${package_name}_${version}.${architecture}.rpm
Release: 0
% endif
%%define _unpackaged_files_terminate_build 0

% if prein:
%%pre
${prein}
% endif

% if postin:
%%post
${postin}
% endif

% if preun:
%%preun
${preun}
% endif

% if postun:
%%postun
${postun}
% endif

%%description

${description}

%% Clean
%%if "%{noclean}" == ""
   rm -rf $RPM_BUILD_ROOT
%%endif

%%files
${"\n".join(file_list)}

